<div fxLayout="row">
  <mat-card class="about-us">
    <mat-card-content style="background-color: white;">
      <mat-card-title>About Us</mat-card-title>

      <div>
        <p>Welcome to our calculator website where you can effortlessly compute interest for your loans. Whether you're planning a home purchase, considering an auto loan, or simply exploring your borrowing options, our intuitive calculator provides accurate results in seconds. Input your loan amount, interest rate, and desired repayment period, and let our tool do the rest. With clear and concise calculations, you can make informed decisions about your financial future. Try it now and take the guesswork out of loan interest calculations.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxLayoutAlign="right">
    <mat-card-content fxFlex="50%">
      <div class="image-container">
        <img src="./assets/calculator.jpg">
      </div>
    </mat-card-content>
  </mat-card>
</div>
