
<div fxLayout="row">
  <mat-card class="mat-elevation-z8" >
    <mat-card-content>
      <mat-card-title >Contact Us</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <div>
        <mat-card-subtitle>Address</mat-card-subtitle>
        <p>123 W 4th St</p>
        <p>Somewhere, CA</p>
        <p>41232</p>

        <mat-card-subtitle>Phone:</mat-card-subtitle>
        <p>1-222-444-6688</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
