<mat-card fxFlex fxLayoutGap="10px">
    <mat-card-title>Loan Calculator</mat-card-title>

    <mat-card-content >
        <div fxLayout="column" color="primary">
            <mat-form-field fxLayout="row">
              <label >Loan Amount</label>
              <input matInput>
            </mat-form-field>
            <br />
            <mat-form-field fxLayout="row">
              <label >Interest Rate</label>
              <input matInput>
            </mat-form-field>
            <br />
            <mat-form-field fxLayout="row">
              <label >Number of Years</label>
              <input matInput>
            </mat-form-field>
            <br />
        </div>
    </mat-card-content>
</mat-card>

<mat-card fxFlex>
  <mat-card-title>Results</mat-card-title>
  <mat-card-content>
    <!-- Here would go the results. Build a component to insert here-->


  </mat-card-content>
</mat-card>
