<mat-card class="container" fxFlex >

    <mat-card-content class="form-container" mat-elevation >
        <div class="inner-form">
          <mat-card-title class="title"><h1>Loan Calculator</h1></mat-card-title>

          <form fxLayout="column" [formGroup]="loanForm" fxLayoutAlign="center" >
            <mat-form-field fxLayout="row" fxLayoutAlign="center">
              <div class="label-input">
              <label >Loan Amount</label>
              <input  name="loanAmount" formControlName="loanAmount" matInput></div>
            </mat-form-field>
            <br />
            <mat-form-field fxLayout="row" fxLayoutAlign="center">
              <div class="label-input">
                <label>Interest Rate</label>
                <input  name="interestRate" formControlName="interestRate" matInput>
              </div>
            </mat-form-field>
            <br />
            <mat-form-field fxLayout="row" fxLayoutAlign="center">
              <div class="label-input">
                <label>Number of Years</label>
                <input name="loanTerm" formControlName="loanTerm" matInput>
              </div>
            </mat-form-field>

            <button (click)="calculateTotal()" mat-button>Submit</button>
          </form>
          <br />

        </div>
    </mat-card-content>


<div class="results-container" fxFlex>
  <mat-card-title class="title">Results</mat-card-title>


    <div class="results-content-container">

    <!-- Here would go the results. Build a component to insert here-->
    <app-results [monthlyPayment]="monthlyPayment" [totalInterestPaid]="totalInterestPaid"></app-results>
    </div>

</div>
</mat-card>
